@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin : 0;
}

html,
body,
a {
    font-family: "Cairo", sans-serif;
    font-weight: 300;
}

body {
    background: #e1ebee;
}

a {
    text-decoration: none;
}

h1 {
    padding   : 170px 0 100px;
    text-align: center;
    font-size : 2.4em;
    color     : greenyellow;
}

nav {
    background-color: #2d2d2d;
    position        : fixed;
    width           : 100%;
    text-align      : center;
    height          : 70px;
    line-height     : 70px;
    overflow        : hidden;
    z-index         : 999;
    font-size       : larger;
}

nav a {
    padding       : 0 20px;
    margin        : 0 10px;
    display       : inline-block;
    text-transform: uppercase;
    color         : #9498a7;

}

section {
    position        : relative;
    background-color: #e1ebee;
}

.hello {
    position: absolute;
    top     : 150px;
    left    : 850px;
    width   : 500px;
}

.hello p {
    text-align : center;
    color      : greenyellow;
    font-size  : 2em;
    font-weight: bold;
}

#iron-giant {
    position: absolute;
    top     : 40px;
    left    : 200px;
    width   : 640px;
    height  : 860px;
}

.stop-motion {
    background-image: url(../components/layout/images/animation_sprite.jpg);
    animation       : move 1s steps(7) forwards;
}


@-webkit-keyframes move {
    from {
        background-position: left top;
    }

    to {
        background-position: right top;
    }
}

@-moz-keyframes move {
    from {
        background-position: left top;
    }

    to {
        background-position: right top;
    }
}

@keyframes move {
    from {
        background-position: left top;
    }

    to {
        background-position: right top;
    }
}

.top {
    margin-top   : 70px;
    margin-bottom: 70px
}

.holder960 {
    width        : 960px;
    padding-left : 15px;
    padding-right: 15px;
    margin       : 0 auto;
    position     : relative
}

.section-title {
    color     : whitesmoke;
    padding: 20px 0;
    text-align: center;
}

.inner-title {
    color     : #2d2d2d;
    margin-top: 40px;
    text-align: center;
}

.section-title p {
    margin: 0 auto;
    width : 90vw;
}

.inner-title p {
    margin: 0 auto;
}

.section-title h2 {
    text-transform: uppercase;
    width         : 90vw;
    margin        : 0 auto;
}

.inner-title h2 {
    text-transform: uppercase;
    margin        : 0 auto;
}


.divider {
    margin    : 10px auto;
    position  : relative;
    width     : 600px;
    text-align: center;
}

.divider span i {
    color        : #2d2d2d;
    font-style   : normal;
    font-size    : 20px;
    padding-left : 5px;
    padding-right: 5px;
    position     : relative;
    z-index      : 1
}

.divider span:before {
    border-bottom: 1px dashed #c0c0c0;
    content      : "";
    display      : block;
    left         : 0;
    position     : absolute;
    top          : 18px;
    width        : 100%;
    z-index      : 0
}

.icon-star-filled:before {
    content: '\2605'
}

#home {
    background-image: url(../components/layout/images/frame8.jpg);
    height          : 82vh;
}

#about {
    align-items: center;
}

#about .section-title {
    background: linear-gradient(135deg, rgba(209, 34, 41, 1) 0%, rgba(246, 138, 30, 1) 50%, rgba(253, 224, 26, 1) 100%);
    height    : 15vh;
}

#about .section-title p {
    text-align: justify;
}

.about-picture {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 40px auto;
}

.profile-left,
.profile-right {
    margin   : 0 20px;
    min-width: 140px;
}

.profile-left {
    text-align: right;
}

.profile-right {
    text-align: left;
}

.profile-pic {
    border       : 1px solid #c0c0c0;
    border-radius: 100%;
    height       : 200px;
    padding      : 5px;
    width        : 200px;
}

.profile-pic img {
    display      : inline-block;
    border       : none;
    border-radius: 100%;
}

.skillsHolder {
    display        : flex;
    justify-content: space-evenly;
}

.skills {
    width: 30%;
}

.skills li {
    list-style-type: none;
}

.infoHolder {
    border    : 2px dotted #c0c0c0;
    padding   : 20px;
    text-align: center;
}

.address i,
.ico a {
    border: 10px solid #e1ebee;
}

.address i,
.info li,
.info li .ico {
    display: inline-block
}

.address {
    position       : relative;
    border         : 0;
    font           : inherit;
    text-decoration: none;
    list-style     : none;
    display        : block;
}

.address p {
    font-size     : 24px;
    color         : #2d2d2d;
    padding-top   : 40px;
    padding-bottom: 40px
}

.address i {
    background     : #0093AF;
    border-radius  : 100px;
    background-clip: padding-box;
    color          : #e1ebeeFF;
    font-size      : 20px;
    height         : 55px;
    left           : 50%;
    line-height    : 58px;
    margin-left    : -33px;
    position       : absolute;
    top            : -57px;
    width          : 55px
}


.info {
    font-size: 14px
}

.info a {
    color: #2d2d2d;
}

.info li {
    width   : 280px;
    position: relative
}

.info ul {
    padding-bottom: 15px
}

.info li .ico {
    background     : #0093AF;
    border         : 10px solid #e1ebee;
    border-radius  : 100px;
    background-clip: padding-box;
    color          : #e1ebee;
    font-size      : 20px;
    height         : 45px;
    left           : 50%;
    line-height    : 46px;
    margin-left    : -33px;
    position       : absolute;
    top            : 30px;
    width          : 45px
}

#resume .section-title {
    background: linear-gradient(135deg, rgba(246, 138, 30, 1) 0%, rgba(253, 224, 26, 1) 50%, rgba(0, 121, 64, 1) 100%);
    height    : 15vh;
}


#portfolio .section-title {
    background: linear-gradient(135deg, rgba(253, 224, 26, 1) 0%, rgba(0, 121, 64, 1) 50%, rgba(36, 64, 142, 1) 100%);
    height    : 15vh;
}

#contact .section-title {
    background: linear-gradient(135deg, rgba(0, 121, 64, 1) 0%, rgba(36, 64, 142, 1) 50%, rgba(115, 41, 130, 1)100%);
    height    : 15vh;
}