@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

* {
    padding: 0;
    margin : 0;
}

html,
body,
a {
    font-family: "Cairo", sans-serif;
    font-weight: 300;
}

body {
    background: #e1ebee;
}

a {
    text-decoration: none;
}

h1 {
    padding   : 170px 0 100px;
    text-align: center;
    font-size : 2.4em;
    color     : greenyellow;
}

nav {
    background-color: #2d2d2d;
    position        : fixed;
    width           : 100%;
    text-align      : center;
    height          : 70px;
    line-height     : 70px;
    overflow        : hidden;
    z-index         : 999;
    font-size       : larger;
}

nav a {
    padding       : 0 20px;
    margin        : 0 10px;
    display       : inline-block;
    text-transform: uppercase;
    color         : #9498a7;

}

section {
    position        : relative;
    background-color: #e1ebee;
}

.hello {
    position: absolute;
    top     : 150px;
    left    : 850px;
    width   : 500px;
}

.hello p {
    text-align : center;
    color      : greenyellow;
    font-size  : 2em;
    font-weight: bold;
}

#iron-giant {
    position: absolute;
    top     : 40px;
    left    : 200px;
    width   : 640px;
    height  : 860px;
}

.stop-motion {
    background-image: url(../components/layout/images/animation_sprite.jpg);
    animation       : move 1s steps(7) forwards;
}


@-webkit-keyframes move {
    from {
        background-position: left top;
    }

    to {
        background-position: right top;
    }
}

@-moz-keyframes move {
    from {
        background-position: left top;
    }

    to {
        background-position: right top;
    }
}

@keyframes move {
    from {
        background-position: left top;
    }

    to {
        background-position: right top;
    }
}

.top {
    margin-top   : 70px;
    margin-bottom: 70px
}

.holder960 {
    width        : 960px;
    padding-left : 15px;
    padding-right: 15px;
    margin       : 0 auto;
    position     : relative
}

.holder1280 {
    width        : 1280px;
    padding-left : 15px;
    padding-right: 15px;
    margin       : 0 auto;
    position     : relative
}

.secTitle [class^=icon-]:before,
[class*=" icon-"]:before {
    margin-left: 0 !important
}

.section-title {
    color      : whitesmoke;
    padding    : 10px 0 20px;
    text-align : center;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    text-shadow: #000 2px 0px 0px, #000 1.75517px 0.958851px 0px,
        #000 1.0806px 1.68294px 0px, #000 0.141474px 1.99499px 0px,
        #000 -0.832294px 1.81859px 0px, #000 -1.60229px 1.19694px 0px,
        #000 -1.97998px 0.28224px 0px, #000 -1.87291px -0.701566px 0px,
        #000 -1.30729px -1.5136px 0px, #000 -0.421592px -1.95506px 0px,
        #000 0.567324px -1.91785px 0px, #000 1.41734px -1.41108px 0px,
        #000 1.92034px -0.558831px 0px;
}

.inner-title {
    color     : #2d2d2d;
    margin    : 30px 0px 20px 0px;
    text-align: center;
}

.section-title p {
    font-family: 'Special Elite', cursive;
    line-height: 1.1em;
    font-size  : 20px;
    margin     : 0 auto;
    width      : 90vw;
    text-shadow: none;
    color      : #2d2d2d;
    font-weight: 600;
}

.inner-title p {
    margin: 0 auto;
}

.section-title h2 {
    text-transform: uppercase;
    width         : 90vw;
    margin        : 0 auto;
}

.inner-title h2 {
    text-transform: uppercase;
    margin        : 0 auto;
}


.divider {
    margin    : 10px auto;
    position  : relative;
    width     : 600px;
    text-align: center;
}

.divider span i {
    color        : #2d2d2d;
    font-style   : normal;
    font-size    : 20px;
    padding-left : 5px;
    padding-right: 5px;
    position     : relative;
    z-index      : 1
}

.divider span::before {
    border-bottom: 1px dashed #c0c0c0;
    content      : "";
    display      : block;
    left         : 0;
    position     : absolute;
    top          : 18px;
    width        : 100%;
    z-index      : 0
}

[class*=" icon-"]::before,
[class^=icon-]::before {
    font-family    : fontello;
    font-style     : normal;
    font-weight    : 400;
    display        : inline-block;
    text-decoration: inherit;
    width          : 1em;
    margin-right   : .2em;
    text-align     : center;
    font-variant   : normal;
    text-transform : none;
    line-height    : 1em;
    margin-left    : .2em
}

.icon-star-filled::before {
    content: '\2605'
}

.icon-about::before {
    content    : '\1F44B';
    text-shadow: none;
}

.icon-resume::before {
    content    : '\1F4C3';
    text-shadow: none;
}

.icon-portfolio::before {
    content    : '\1F4BB';
    text-shadow: none;
}

.icon-contact::before {
    content    : '\1F4E7';
    text-shadow: none;
}

#home {
    background-image: url(../components/layout/images/frame8.jpg);
    height          : 82vh;
}

#about {
    align-items: center;
}

#about .section-title {
    background: linear-gradient(135deg, rgba(209, 34, 41, 1) 0%, rgba(246, 138, 30, 1) 50%, rgba(253, 224, 26, 1) 100%);
    height    : 15vh;
}

#about .section-title p {
    text-align: justify;
}

.about-picture {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 40px auto;
}

.profile-left,
.profile-right {
    margin   : 0 20px;
    min-width: 140px;
}

.profile-left {
    text-align: right;
}

.profile-right {
    text-align: left;
}

.profile-pic {
    border       : 1px solid #c0c0c0;
    border-radius: 100%;
    height       : 200px;
    padding      : 5px;
    width        : 200px;
}

.profile-pic img {
    display      : inline-block;
    border       : none;
    border-radius: 100%;
}

.skillsHolder {
    display        : flex;
    justify-content: space-around;
}

.skills {
    width: 45%;
}

.skills li {
    list-style-type: none;
    margin-bottom  : 1em;
}

.skills li:hover {
    font-weight: 800;
}

.more-of-me p {
    text-align: justify;
}

.infoHolder {
    border    : 2px dotted #c0c0c0;
    padding   : 20px;
    text-align: center;
}

.address i,
.ico a {
    border: 10px solid #e1ebee;
}

.address i,
.info li,
.info li .ico {
    display: inline-block
}

.address {
    position       : relative;
    border         : 0;
    font           : inherit;
    text-decoration: none;
    list-style     : none;
    display        : block;
}

.address p {
    font-size     : 24px;
    color         : #2d2d2d;
    padding-top   : 40px;
    padding-bottom: 40px
}

.address i {
    background     : #72A0C1;
    border-radius  : 100px;
    background-clip: padding-box;
    color          : #e1ebeeFF;
    font-size      : 30px;
    height         : 55px;
    left           : 50%;
    line-height    : 58px;
    margin-left    : -33px;
    position       : absolute;
    top            : -57px;
    width          : 55px
}


.info {
    font-size: 14px
}

.info a {
    color: #3F00FF;
}

.info li {
    width   : 280px;
    position: relative
}

.info ul {
    padding-bottom: 15px
}

.info li .ico {
    background     : #72A0C1;
    border         : 10px solid #e1ebee;
    border-radius  : 100px;
    background-clip: padding-box;
    color          : #e1ebee;
    font-size      : 20px;
    height         : 45px;
    left           : 50%;
    line-height    : 46px;
    margin-left    : -33px;
    position       : absolute;
    top            : 30px;
    width          : 45px
}

#resume .section-title {
    background: linear-gradient(135deg, rgba(246, 138, 30, 1) 0%, rgba(253, 224, 26, 1) 50%, rgba(0, 121, 64, 1) 100%);
    height    : 10vh;
}


.resume-item {
    border       : 1px dotted #c0c0c0;
    margin-bottom: 20px;
}

.resume-item a {
    color: #3F00FF;
}

.resume-item-title {
    background-color: #72A0C1;
    display         : flex;
    justify-content : space-around;
}

.resume-item-title h3 {
    width: 60%;
}

.resume-item-title h4 {
    width: 35%;
}

.resume-item-title h4 {
    text-align: right;
}

.resume-item-text {
    margin    : 10px 20px 5px;
    text-align: justify;
}

#portfolio .section-title {
    background: linear-gradient(135deg, rgba(253, 224, 26, 1) 0%, rgba(0, 121, 64, 1) 50%, rgba(36, 64, 142, 1) 100%);
    height    : 10vh;
}

#portfolio .section-title p {
    color: #e1ebee;
}

.portfolio-item {
    display: flex;
    height : 310px;
    margin : 40px auto;
    width  : 960px;
}

.portfolio-item .imagen {

    position: relative;
    width   : 50%;
}

.portfolio-item .texto {
    background   : rgb(114, 160, 193);
    box-shadow   : 0px 0px 40px 16px rgba(114, 160, 193, 0.5);
    border       : 1px dotted #c0c0c0;
    /* color     : #2d2d2d; */
    position     : relative;
    width        : 50%;
    height       : calc(100% - 120px);
    top          : 40px;
}

.portfolio-item .texto h3 {
    text-align: center;
}

.portfolio-item .texto a {
    margin-left: 10px;
}

.portfolio-item .texto p {
    margin    : 12px;
    text-align: justify;
}

.icon-link::before {
    content    : '\1F30E';
    text-shadow: none;
}

#contact .section-title {
    background: linear-gradient(135deg, rgba(0, 121, 64, 1) 0%, rgba(36, 64, 142, 1) 50%, rgba(115, 41, 130, 1)100%);
    height    : 10vh;
}

#contact .section-title p {
    color: #e1ebee;
}

.contact-form {
    font-family     : 'Montserrat', Arial, sans-serif;
    text-size-adjust: 100%;
    border          : 2px dotted #c0c0c0;
    max-width       : 768px;
    margin          : 30px auto;
    position        : relative;
}

.contact-form input,
.contact-form textarea {
    font  : inherit;
    margin: 0;
}

.contact-form form {
    padding   : 20px;
    margin-top: 20px;
}

.contact-form input[type='text'],
.contact-form textarea {
    background    : none;
    border        : none;
    border-bottom : solid 2px #2d2d2d;
    color         : #2d2d2d;
    font-size     : 0.9em;
    font-weight   : 400;
    letter-spacing: 1px;
    margin        : 0em 0 1.5em 0;
    padding       : 0 0 0.7em 0;
    text-transform: uppercase;
    width         : 100%;
    box-sizing    : border-box;
    transition    : all 0.3s;
}

.contact-form [type='email'] {
    background    : none;
    border        : none;
    border-bottom : solid 2px #2d2d2d;
    color         : #2d2d2d;
    font-size     : 0.9em;
    font-weight   : 400;
    letter-spacing: 1px;
    margin        : 0em 0 1.5em 0;
    padding       : 0 0 0.7em 0;
    text-transform: lowercase;
    width         : 100%;
    box-sizing    : border-box;
    transition    : all 0.3s;
}

.contact-form p {
    background    : none;
    border        : none;
    color         : #2d2d2d;
    font-size     : 0.8em;
    font-weight   : 400;
    letter-spacing: 1px;
    margin-top    : 1em;
    text-transform: uppercase;
}

.contact-form input[type='text']:focus,
.contact-form [type='email']:focus,
.contact-form textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.contact-form .name {
    float: left;
    width: 45%;
}

.contact-form .telephone {
    float: right;
    width: 45%;
}

.contact-form .message {
    float: none;
}

.contact-form textarea {
    line-height: 150%;
    height     : 150px;
    resize     : none;
    width      : 100%;
}

.contact-form ::placeholder {
    text-transform: uppercase;
    opacity       : 0.7;
}

#contact-send {
    background    : none;
    border        : solid 2px #2d2d2d;
    color         : #2d2d2d;
    cursor        : pointer;
    display       : inline-block;
    font-family   : 'Helvetica', Arial, sans-serif;
    font-size     : 0.875em;
    font-weight   : bold;
    outline       : none;
    padding       : 15px 30px;
    text-transform: uppercase;
    transition    : all 0.3s;
}

#contact-send:hover {
    background: #2d2d2d;
    color     : #e1e1e1;
}